@using MvcOnlineTicariOtomasyon.Models.Entities
@model List<Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
@if (TempData["SuccessMessage"] != null || TempData["ToastMessage"] != null)
{
    <div class="alert alert-success" role="alert" id="tempMessage">
        @TempData["SuccessMessage"]
        @TempData["ToastMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert" id="tempMessage">
        @TempData["ErrorMessage"]
    </div>
}
<div style="margin:10px 20px ">

  
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Departman Adı</th>
                <th scope="col">Durum</th>
                <th scope="col">Güncelle</th>
                <th scope="col">Departman Detay</th>

            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="2" class="text-center">Hiç Departman bulunamadı.</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td scope="row">@count</td>
                        <td>@item.DepartmentName</td>
                        <td><a class="btn btn-danger" href="/Departman/DeleteDepartman/@item.DepartmentID">Sil</a></td>
                        <td><a class="btn btn-warning" href="/Departman/UpdateDepartman/@item.DepartmentID">Güncelle</a></td>
                        <td><a class="btn btn-group" style="background-color:plum" href="/Departman/DepartmanDetail/@item.DepartmentID">Detaylar</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />
    <a class="btn btn-primary" href="/Departman/CreateDepartman">Departman Ekle</a>
</div>

<script>
    setTimeout(function () {
        var message = document.getElementById("tempMessage");
        if (message) {
            message.style.display = "none";
        }
    }, 5000); // 5 saniye

    var statusButtons = document.getElementById("status");

</script>
