@using MvcOnlineTicariOtomasyon.Models.Entities
@model Cariler
@{
    ViewBag.Title = "UpdateCariler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div style="margin:10px 20px">
    <h2>Cari Günceleme Sayfası</h2>
    <br />
    <form class="form-group" method="post">
        <input type="hidden" name="CariID" value="@Model.CariID" />
        <label for="CariName">Cari Adı</label>
        @Html.TextBoxFor(m => m.CariName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CariName, "", new { @class = "text-danger" })
        <br />
        <label for="CariSurName">Cari Soyadı</label>
        @Html.TextBoxFor(m => m.CariSurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CariSurname, "", new { @class = "text-danger" })
        <br />
        <label for="CariSehir">Şehir</label>
        @Html.TextBoxFor(m => m.CariSehir, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CariSehir, "", new { @class = "text-danger" })
        <br />
        <label for="CariMail">Mail</label>
        @Html.TextBoxFor(m => m.CariMail, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CariMail, "", new { @class = "text-danger" })
        <br />
        <button class="btn btn-info">Kaydet</button>
    </form>
</div>

